#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "cloc"
     "cmake"
     "curl"
     "codex"
     "delta"
     "fish"
     "gcc"
     "git"
     "go"
     "lazygit"
     "libusb"
     "python"
     "neovim"
     "ninja"
     "node"
     "pnpm"
     "ripgrep"
     "rust"
     "solidity"
     "tlrc"
     "tmux"
     "tree"
     "uv"
     "yarn"
     "zoxide" -}}

{{ $casks := list
     "font-maple-mono-normal-nf-cn"
     "obsidian"
     "raycast"
     "visual-studio-code"
     "wezterm@nightly"
     "1password"
     "1password-cli"
     "rectangle"
     "orbstack"
     "coteditor"
     "meld"
     "google-chrome" -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
     "tailscale") -}}
{{   $casks = concat $casks (list
     "tailscale-app"
     "telegram"
     "discord") -}}
{{ end -}}

brew bundle --verbose --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

