#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "cloc"
     "cmake"
     "curl"
     "delta"
     "fish"
     "gcc"
     "git"
     "go"
     "lazygit"
     "libusb"
     "python"
     "neovim"
     "ninja"
     "node"
     "pnpm"
     "ripgrep"
     "rust"
     "solidity"
     "tlrc"
     "tmux"
     "tree"
     "uv"
     "yarn" -}}
{{ $casks := list
     "font-maple-mono-normal-nf-cn"
     "obsidian"
     "raycast"
     "visual-studio-code"
     "wezterm@nightly"
     "1password"
     "1password-cli"
     "rectangle"
     "orbstack" -}}


brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

