[data]
    email = "atomlink.ye@gmail.com"
[diff]
    pager = "delta"
[merge]
    command = "nvim"
    args = [
      "-d",
      "{{ "{{ .Destination }}" }}",
      "{{ "{{ .Source }}" }}",
      "{{ "{{ .Target }}" }}"
    ]
